.header {
    display: flex;
    justify-content: space-around;
  }
  
  #downward-arrow {
    color: white;
    cursor: pointer;
  }
  
  .mycart {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .header img {
    max-width: 100%;
    height: auto;
    margin-top: -1vw;
  }
  
  #spare-parts-nav {
    background-color: black;
    color: aliceblue;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 1vw;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Antonio', sans-serif; */
  }
  
  .navbar {
    margin-bottom: 5vw;
    padding-top: 2vw;
  }
  
  .navbar2 {
    display: flex;
    overflow: hidden;
  }
  
  body {
    background-image: url("/image/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h2 {
    text-align: center;
    padding-top: 5%;
    color: rgb(0, 89, 255);
    font-family: 'Raleway', sans-serif;
  }
  
  p {
    color: black;
  }
  
  h5 {
    background-color: purple;
    color: aliceblue;
    padding: 1.5vw;
  }
  
  i {
    font-size: 1.5vw;
    color: beige;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .spare__parts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .card>img {
    max-width: 100%;
    height: auto;
  }
  
  #headlights {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
  }
  
  .head {
    margin-right: 5%;
  }
  
  .head>img {
    max-width: 100%;
    height: auto;
  }
  
  #wheels {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
  }
  
  .wheel>img {
    max-width: 100%;
    height: auto;
  }
  
  #exhausts {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
  }
  
  .exhaust>img {
    max-width: 100%;
    height: auto;
  }
  
  #mirrors {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
  }
  
  .mirror>img {
    max-width: 100%;
    height: auto;
  }
  
  .flex {
    margin: 2% 0px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 2%;
  }
  