body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    /* background-image: url(../images/supra.pg.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}

.landing {
    background-image: url(../images/fordraptor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; /* Centra la imagen de fondo */
}

h1 {
    font-size: 2rem; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    padding: 10px 0;
    color: white;
}

.nav img {
    width: 8vw; /* Reduzca el tamaño del logo para ajustarse a pantallas pequeñas */
}

.nav ul li a {
    display: block;
    color: white;
    padding: 10px 16px; /* Reduce el relleno para que quepa en pantallas más pequeñas */
    font-size: medium; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
    font-weight: 700;
}

.nav ul li {
    float: none; /* Evita que los elementos floten y los coloca en una sola columna */
}

.navbar2 a {
    margin: 0 20px; /* Espacio entre los elementos de navegación en pantallas más pequeñas */
}

/* Agrega un estilo para el texto de subencabezado */
.sub-heading {
    padding: 10px 0;
    color: rgb(250, 250, 250);
    text-align: center;
}

/* Añade espaciado superior e inferior a los elementos de subencabezado */
#sub-heading1 {
    padding: 20px 0;
}

#sub-heading2 {
    padding: 20px 0;
}
